<div class="jumbotron mt-4">
  <h1 class="display-4"> Issue Tracker </h1>
  <p class="lead">A simple App to manage Git Issue's developed with Nodejs, Express and Javascript Technologies</p>
  <hr class="my-4">
  


  

<div>

   <embed src= "../img/rotunda.pdf" type="application/pdf" width= "1000" height= "1000">
</div>

  
</div>
